.margin_xxs{
  margin: 10px;
}
.margin_xs{
  margin: 20px;
}

.margin_s{
  margin: 30px;
}

.margin_m{
  margin: 40px;
}

.margin_column_xxs{
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin_column_xs{
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin_column_s{
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin_column_m{
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin_column_ms{
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin_row_xxs{
  margin-left: 10px;
  margin-right: 10px;
}

.margin_row_xs{
  margin-left: 20px;
  margin-right: 20px;
}

.margin_row_s{
  margin-left: 30px;
  margin-right: 30px;
}

.margin_row_m{
  margin-left: 40px;
  margin-right: 40px;
}

.margin_row_ms{
  margin-left: 50px;
  margin-right: 50px;
}

.padding_xxs{
  padding: 10px;
}

.padding_xs{
  padding: 20px;
}

.padding_s{
  padding: 30px;
}

.padding_m{
  padding: 40px;
}

.padding_column_xxs{
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding_column_xs{
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding_column_s{
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding_column_36{
  padding-top: 36px;
  padding-bottom: 36px;
}

.padding_column_m{
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding_column_ms{
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding_row_xxs{
  padding-left: 10px;
  padding-right: 10px;
}

.padding_row_xs{
  padding-left: 20px;
  padding-right: 20px;
}

.padding_row_s{
  padding-left: 30px;
  padding-right: 30px;
}

.padding_row_m{
  padding-left: 40px;
  padding-right: 40px;
}

.padding_row_ms{
  padding-left: 50px;
  padding-right: 50px;
}

.margin_0_auto{
  margin: 0 auto;
}

.margin_auto{
  margin-left: auto;
  margin-right: auto;
}

.border_bottom_ee{
  border: 1px solid #eeeeee;
}

.border_10{
  border-radius: 10px;
}

.border_yellow{
  border: 1px solid #fdb200;
}

.shadow_8{
  box-shadow: 0 0 8px rgba(153, 153, 153, 0.69);
}

.radius_80{
  border-radius: 80px;
}

.none{
  display: none;
}

/*.underline{*/
/*  margin-bottom: 1PX;*/
/*  position: relative;*/
/*}*/

/*.underline::after{*/
/*  position: absolute;*/
/*  content: '';*/
/*  border-bottom: 1px solid #cccccc;*/
/*  top: -50%;*/
/*  left: -50%;*/
/*  right: -50%;*/
/*  bottom: -50%;*/
/*}*/
