body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2213 {
  position:absolute;
  left:190px;
  top:280px;
  width:658px;
  height:1173px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u2216 {
  position:absolute;
  left:134px;
  top:80px;
  width:766px;
  height:200px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u2218 {
  position:absolute;
  left:134px;
  top:280px;
  width:55px;
  height:1171px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u2220 {
  position:absolute;
  left:848px;
  top:280px;
  width:52px;
  height:1171px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u2222 {
  position:absolute;
  left:134px;
  top:1451px;
  width:766px;
  height:189px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2225 {
  position:absolute;
  left:189px;
  top:280px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u2227 {
  position:absolute;
  left:189px;
  top:280px;
  width:658px;
  height:49px;
}
#u2228 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2229 {
  position:absolute;
  left:203px;
  top:339px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2231 {
  position:absolute;
  left:780px;
  top:339px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:left;
}
#u2234 {
  position:absolute;
  left:187px;
  top:400px;
  width:661px;
  height:55px;
  font-size:30px;
  text-align:left;
}
#u2235 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2236 {
  position:absolute;
  left:457px;
  top:339px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2238 {
  position:absolute;
  left:360px;
  top:417px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:387px;
}
#u2240 {
  position:absolute;
  left:182px;
  top:1063px;
  width:666px;
  height:387px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:186px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2242 {
  position:absolute;
  left:793px;
  top:412px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2243 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
