body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2109 {
  position:absolute;
  left:190px;
  top:280px;
  width:658px;
  height:1173px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u2112 {
  position:absolute;
  left:134px;
  top:80px;
  width:766px;
  height:200px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u2114 {
  position:absolute;
  left:134px;
  top:280px;
  width:55px;
  height:1171px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u2116 {
  position:absolute;
  left:848px;
  top:280px;
  width:52px;
  height:1171px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u2118 {
  position:absolute;
  left:134px;
  top:1451px;
  width:766px;
  height:189px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2121 {
  position:absolute;
  left:189px;
  top:280px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u2123 {
  position:absolute;
  left:189px;
  top:280px;
  width:658px;
  height:49px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2125 {
  position:absolute;
  left:203px;
  top:339px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2127 {
  position:absolute;
  left:780px;
  top:339px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:left;
}
#u2130 {
  position:absolute;
  left:187px;
  top:400px;
  width:661px;
  height:55px;
  font-size:30px;
  text-align:left;
}
#u2131 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2132 {
  position:absolute;
  left:457px;
  top:339px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2134 {
  position:absolute;
  left:360px;
  top:417px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:387px;
}
#u2136 {
  position:absolute;
  left:182px;
  top:1063px;
  width:666px;
  height:387px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:186px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2138 {
  position:absolute;
  left:793px;
  top:412px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2139 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2140 {
  position:absolute;
  left:989px;
  top:270px;
  width:341px;
  height:70px;
  font-size:20px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2142 {
  position:absolute;
  left:1009px;
  top:416px;
  width:181px;
  height:23px;
  font-size:20px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2144 {
  position:absolute;
  left:1009px;
  top:428px;
  width:0px;
  height:0px;
}
#u2144_seg0 {
  position:absolute;
  left:-173px;
  top:-4px;
  width:173px;
  height:8px;
}
#u2144_seg1 {
  position:absolute;
  left:-173px;
  top:-4px;
  width:8px;
  height:18px;
}
#u2144_seg2 {
  position:absolute;
  left:-190px;
  top:6px;
  width:25px;
  height:8px;
}
#u2144_seg3 {
  position:absolute;
  left:-195px;
  top:0px;
  width:20px;
  height:20px;
}
#u2145 {
  position:absolute;
  left:-150px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
