body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2245 {
  position:absolute;
  left:151px;
  top:200px;
  width:658px;
  height:1173px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u2248 {
  position:absolute;
  left:95px;
  top:0px;
  width:766px;
  height:200px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u2250 {
  position:absolute;
  left:95px;
  top:200px;
  width:55px;
  height:1171px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u2252 {
  position:absolute;
  left:809px;
  top:200px;
  width:52px;
  height:1171px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u2254 {
  position:absolute;
  left:95px;
  top:1371px;
  width:766px;
  height:189px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2257 {
  position:absolute;
  left:150px;
  top:200px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2258 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u2259 {
  position:absolute;
  left:150px;
  top:200px;
  width:658px;
  height:49px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u2262 {
  position:absolute;
  left:148px;
  top:250px;
  width:661px;
  height:55px;
  font-size:30px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u2264 {
  position:absolute;
  left:162px;
  top:258px;
  width:38px;
  height:40px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:left;
}
#u2267 {
  position:absolute;
  left:148px;
  top:335px;
  width:661px;
  height:55px;
  font-size:30px;
  text-align:left;
}
#u2268 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u2270 {
  position:absolute;
  left:720px;
  top:344px;
  width:69px;
  height:38px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2272 {
  position:absolute;
  left:753px;
  top:348px;
  width:31px;
  height:31px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:left;
}
#u2275 {
  position:absolute;
  left:148px;
  top:420px;
  width:661px;
  height:55px;
  font-size:30px;
  text-align:left;
}
#u2276 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u2278 {
  position:absolute;
  left:720px;
  top:429px;
  width:69px;
  height:38px;
}
#u2279 {
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2280 {
  position:absolute;
  left:724px;
  top:433px;
  width:31px;
  height:31px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2282 {
  position:absolute;
  left:949px;
  top:352px;
  width:221px;
  height:23px;
  font-size:20px;
}
#u2283 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2284 {
  position:absolute;
  left:943px;
  top:437px;
  width:221px;
  height:23px;
  font-size:20px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u2286 {
  position:absolute;
  left:949px;
  top:364px;
  width:0px;
  height:0px;
}
#u2286_seg0 {
  position:absolute;
  left:-165px;
  top:-4px;
  width:169px;
  height:8px;
}
#u2286_seg1 {
  position:absolute;
  left:-170px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2287 {
  position:absolute;
  left:-132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288 {
  position:absolute;
  left:943px;
  top:449px;
  width:0px;
  height:0px;
}
#u2288_seg0 {
  position:absolute;
  left:-147px;
  top:-4px;
  width:147px;
  height:8px;
}
#u2288_seg1 {
  position:absolute;
  left:-147px;
  top:-5px;
  width:8px;
  height:9px;
}
#u2288_seg2 {
  position:absolute;
  left:-154px;
  top:-5px;
  width:15px;
  height:8px;
}
#u2288_seg3 {
  position:absolute;
  left:-159px;
  top:-11px;
  width:20px;
  height:20px;
}
#u2289 {
  position:absolute;
  left:-128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
