body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2147 {
  position:absolute;
  left:190px;
  top:280px;
  width:658px;
  height:1173px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u2150 {
  position:absolute;
  left:134px;
  top:80px;
  width:766px;
  height:200px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u2152 {
  position:absolute;
  left:134px;
  top:280px;
  width:55px;
  height:1171px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u2154 {
  position:absolute;
  left:848px;
  top:280px;
  width:52px;
  height:1171px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u2156 {
  position:absolute;
  left:134px;
  top:1451px;
  width:766px;
  height:189px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2159 {
  position:absolute;
  left:189px;
  top:280px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u2161 {
  position:absolute;
  left:189px;
  top:280px;
  width:658px;
  height:49px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2163 {
  position:absolute;
  left:203px;
  top:339px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2165 {
  position:absolute;
  left:780px;
  top:339px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:left;
}
#u2168 {
  position:absolute;
  left:187px;
  top:400px;
  width:661px;
  height:55px;
  font-size:30px;
  text-align:left;
}
#u2169 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2170 {
  position:absolute;
  left:466px;
  top:340px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u2172 {
  position:absolute;
  left:360px;
  top:417px;
  width:157px;
  height:23px;
  font-size:20px;
  color:#CCCCCC;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2174 {
  position:absolute;
  left:793px;
  top:412px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2175 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2176 {
  position:absolute;
  left:960px;
  top:416px;
  width:121px;
  height:23px;
  font-size:20px;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2178 {
  position:absolute;
  left:960px;
  top:428px;
  width:0px;
  height:0px;
}
#u2178_seg0 {
  position:absolute;
  left:-104px;
  top:-4px;
  width:104px;
  height:8px;
}
#u2178_seg1 {
  position:absolute;
  left:-104px;
  top:-42px;
  width:8px;
  height:46px;
}
#u2178_seg2 {
  position:absolute;
  left:-434px;
  top:-42px;
  width:338px;
  height:8px;
}
#u2178_seg3 {
  position:absolute;
  left:-434px;
  top:-42px;
  width:8px;
  height:44px;
}
#u2178_seg4 {
  position:absolute;
  left:-440px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2179 {
  position:absolute;
  left:-266px;
  top:-46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
