.goods_list_wrap{
  .at-tabs__underline{
    display: none;
  }
  .at-tabs__item{
    font-size: 26px;
    padding: 24px;
    color: #707070;
  }
  .at-tabs__item--active{
    color: #fdb200;
  }

  .at-tabs__item-underline{
    background-color: #fdb200;
  }
}


.goods_list_item{
  margin-top: 20px;
}
.goods_list_img{
  width: 161px;
  height: 161px;
}

.goods_list_btn{
  width: 120px;
  height: 50px;
}

.goods_list_btn_right{
  margin-right: 20px;
}
