body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:156px;
  top:368px;
  width:658px;
  height:1173px;
}
#u43 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u45 {
  position:absolute;
  left:100px;
  top:168px;
  width:766px;
  height:200px;
}
#u46 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u47 {
  position:absolute;
  left:100px;
  top:368px;
  width:55px;
  height:1171px;
}
#u48 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u49 {
  position:absolute;
  left:814px;
  top:368px;
  width:52px;
  height:1171px;
}
#u50 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u51 {
  position:absolute;
  left:100px;
  top:1539px;
  width:766px;
  height:189px;
}
#u52 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u54 {
  position:absolute;
  left:155px;
  top:368px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u56 {
  position:absolute;
  left:155px;
  top:368px;
  width:658px;
  height:49px;
}
#u57 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:247px;
  top:762px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:58px;
}
#u60 {
  position:absolute;
  left:383px;
  top:100px;
  width:203px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:383px;
  top:762px;
  width:301px;
  height:37px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  position:absolute;
  left:383px;
  top:1103px;
  width:301px;
  height:37px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:71px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u64 {
  position:absolute;
  left:409px;
  top:1240px;
  width:153px;
  height:71px;
  font-size:36px;
}
#u65 {
  position:absolute;
  left:2px;
  top:15px;
  width:149px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66 {
  position:absolute;
  left:243px;
  top:883px;
  width:101px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:231px;
  top:1103px;
  width:141px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:231px;
  top:989px;
  width:129px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:383px;
  top:883px;
  width:137px;
  height:37px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:383px;
  top:991px;
  width:301px;
  height:37px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u74 {
  position:absolute;
  left:383px;
  top:926px;
  width:73px;
  height:18px;
  color:#FF0000;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u76 {
  position:absolute;
  left:544px;
  top:883px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u78 {
  position:absolute;
  left:383px;
  top:1145px;
  width:73px;
  height:18px;
  color:#FF0000;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u80 {
  position:absolute;
  left:383px;
  top:1033px;
  width:87px;
  height:18px;
  color:#FF0000;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u82 {
  position:absolute;
  left:969px;
  top:891px;
  width:441px;
  height:23px;
  font-size:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:969px;
  top:903px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  position:absolute;
  left:-285px;
  top:-4px;
  width:289px;
  height:8px;
}
#u84_seg1 {
  position:absolute;
  left:-290px;
  top:-10px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:-192px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u86 {
  position:absolute;
  left:989px;
  top:1047px;
  width:601px;
  height:46px;
  font-size:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:989px;
  top:1070px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:73px;
  height:8px;
}
#u88_seg1 {
  position:absolute;
  left:-74px;
  top:-63px;
  width:8px;
  height:67px;
}
#u88_seg2 {
  position:absolute;
  left:-300px;
  top:-63px;
  width:234px;
  height:8px;
}
#u88_seg3 {
  position:absolute;
  left:-305px;
  top:-69px;
  width:21px;
  height:20px;
}
#u89 {
  position:absolute;
  left:-170px;
  top:-67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:989px;
  top:1070px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:73px;
  height:8px;
}
#u90_seg1 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:58px;
}
#u90_seg2 {
  position:absolute;
  left:-300px;
  top:46px;
  width:234px;
  height:8px;
}
#u90_seg3 {
  position:absolute;
  left:-305px;
  top:40px;
  width:21px;
  height:20px;
}
#u91 {
  position:absolute;
  left:-175px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u92 {
  position:absolute;
  left:969px;
  top:1264px;
  width:641px;
  height:23px;
  font-size:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:969px;
  top:1276px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:-407px;
  top:-4px;
  width:411px;
  height:8px;
}
#u94_seg1 {
  position:absolute;
  left:-412px;
  top:-10px;
  width:20px;
  height:20px;
}
#u95 {
  position:absolute;
  left:-254px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u96 {
  position:absolute;
  left:951px;
  top:730px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u98 {
  position:absolute;
  left:1376px;
  top:739px;
  width:214px;
  height:23px;
  font-size:20px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:1376px;
  top:751px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-270px;
  top:-4px;
  width:270px;
  height:8px;
}
#u100_seg1 {
  position:absolute;
  left:-270px;
  top:-5px;
  width:8px;
  height:9px;
}
#u100_seg2 {
  position:absolute;
  left:-285px;
  top:-5px;
  width:23px;
  height:8px;
}
#u100_seg3 {
  position:absolute;
  left:-290px;
  top:-11px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:-193px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1410px;
  top:903px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u102_seg1 {
  position:absolute;
  left:6px;
  top:-77px;
  width:8px;
  height:81px;
}
#u102_seg2 {
  position:absolute;
  left:-393px;
  top:-77px;
  width:407px;
  height:8px;
}
#u102_seg3 {
  position:absolute;
  left:-393px;
  top:-133px;
  width:8px;
  height:64px;
}
#u102_seg4 {
  position:absolute;
  left:-399px;
  top:-138px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-228px;
  top:-81px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
