.wai_detail_img{
  width: 206px;
  height: 206px;
  border-radius: 2px;
}

.wai_detail_tag{
  margin: 10px 10px 10px 0;
}


.waimai_list_none_wrap{
  margin-top: 200px;
}

.waimai_list_none_img{
  width: 235px;
  height: 283px;
}
