.add_cart_wrap{
  padding-bottom: 120px;
}
.add_cart_img{
  width: 120px;
  height: 120px;
}

.add_cart_type{
  margin-right: 20px;
  margin-bottom: 20px;
  //border: 1px solid #707070;
}

.add_cart_btn{
  bottom: 0;
  left: 0;
}

.add_cart_single{
  border: 1px solid #fdb200;
}

.add_cart_active {
  color: #fdb200;
  border: 1px solid #fdb200;
}

.add_cart_default{
  color: #707070;
  border: 1px solid #707070;
}
