body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:356px;
  top:300px;
  width:658px;
  height:1173px;
}
#u771 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u773 {
  position:absolute;
  left:300px;
  top:100px;
  width:766px;
  height:200px;
}
#u774 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u775 {
  position:absolute;
  left:300px;
  top:300px;
  width:55px;
  height:1171px;
}
#u776 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u777 {
  position:absolute;
  left:1014px;
  top:300px;
  width:52px;
  height:1171px;
}
#u778 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u779 {
  position:absolute;
  left:300px;
  top:1471px;
  width:766px;
  height:189px;
}
#u780 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u782 {
  position:absolute;
  left:355px;
  top:300px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u783 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u784 {
  position:absolute;
  left:355px;
  top:300px;
  width:658px;
  height:49px;
}
#u785 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:81px;
}
#u787 {
  position:absolute;
  left:354px;
  top:1391px;
  width:660px;
  height:81px;
}
#u788 {
  position:absolute;
  left:2px;
  top:32px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u790 {
  position:absolute;
  left:858px;
  top:1412px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u791 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u792 {
  position:absolute;
  left:698px;
  top:1412px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u793 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u794 {
  position:absolute;
  left:378px;
  top:1412px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u795 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u796 {
  position:absolute;
  left:546px;
  top:1412px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u797 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:74px;
}
#u798 {
  position:absolute;
  left:355px;
  top:346px;
  width:659px;
  height:74px;
}
#u799 {
  position:absolute;
  left:2px;
  top:29px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
}
#u800 {
  position:absolute;
  left:369px;
  top:433px;
  width:633px;
  height:467px;
  font-size:50px;
}
#u801 {
  position:absolute;
  left:2px;
  top:226px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u802 {
  position:absolute;
  left:404px;
  top:455px;
  width:185px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u805 {
  position:absolute;
  left:449px;
  top:502px;
  width:123px;
  height:35px;
  font-size:30px;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u807 {
  position:absolute;
  left:875px;
  top:504px;
  width:86px;
  height:33px;
  font-size:28px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u809 {
  position:absolute;
  left:404px;
  top:673px;
  width:568px;
  height:35px;
  font-size:30px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  white-space:nowrap;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u812 {
  position:absolute;
  left:449px;
  top:556px;
  width:123px;
  height:35px;
  font-size:30px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u814 {
  position:absolute;
  left:875px;
  top:558px;
  width:86px;
  height:33px;
  font-size:28px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u817 {
  position:absolute;
  left:449px;
  top:611px;
  width:123px;
  height:35px;
  font-size:30px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u819 {
  position:absolute;
  left:875px;
  top:613px;
  width:86px;
  height:33px;
  font-size:28px;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
}
#u821 {
  position:absolute;
  left:491px;
  top:800px;
  width:150px;
  height:60px;
  font-size:35px;
}
#u822 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
}
#u823 {
  position:absolute;
  left:725px;
  top:800px;
  width:150px;
  height:60px;
  font-size:35px;
}
#u824 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u826 {
  position:absolute;
  left:577px;
  top:370px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u828 {
  position:absolute;
  left:785px;
  top:370px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u831 {
  position:absolute;
  left:404px;
  top:730px;
  width:62px;
  height:35px;
  font-size:30px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u833 {
  position:absolute;
  left:502px;
  top:742px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
}
#u835 {
  position:absolute;
  left:1476px;
  top:965px;
  width:150px;
  height:60px;
  font-size:35px;
}
#u836 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u837 {
  position:absolute;
  left:1130px;
  top:960px;
  width:261px;
  height:70px;
  font-size:20px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u839 {
  position:absolute;
  left:1130px;
  top:995px;
  width:0px;
  height:0px;
}
#u839_seg0 {
  position:absolute;
  left:-474px;
  top:-4px;
  width:474px;
  height:8px;
}
#u839_seg1 {
  position:absolute;
  left:-474px;
  top:-169px;
  width:8px;
  height:173px;
}
#u839_seg2 {
  position:absolute;
  left:-489px;
  top:-169px;
  width:23px;
  height:8px;
}
#u839_seg3 {
  position:absolute;
  left:-494px;
  top:-175px;
  width:20px;
  height:20px;
}
#u840 {
  position:absolute;
  left:-377px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:1391px;
  top:995px;
  width:0px;
  height:0px;
}
#u841_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u841_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u842 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:46px;
}
#u843 {
  position:absolute;
  left:1140px;
  top:807px;
  width:401px;
  height:46px;
  font-size:20px;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
}
#u845 {
  position:absolute;
  left:1631px;
  top:800px;
  width:150px;
  height:60px;
  font-size:35px;
}
#u846 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u847 {
  position:absolute;
  left:1541px;
  top:830px;
  width:0px;
  height:0px;
}
#u847_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u847_seg1 {
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u848 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849 {
  position:absolute;
  left:1140px;
  top:830px;
  width:0px;
  height:0px;
}
#u849_seg0 {
  position:absolute;
  left:-265px;
  top:-4px;
  width:269px;
  height:8px;
}
#u849_seg1 {
  position:absolute;
  left:-270px;
  top:-10px;
  width:20px;
  height:20px;
}
#u850 {
  position:absolute;
  left:-182px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
