.select_wrap{
  height: 50px;
  margin-right: -20px;
  line-height: 48px;
  border: 1px solid #fdb200;
  overflow: hidden;
}

.select_btn{
  line-height: 45px;
}

.select_num{
  width: 65px;
  text-align: center;
  height: 0;
}
