body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1997 {
  position:absolute;
  left:151px;
  top:200px;
  width:658px;
  height:1173px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u2000 {
  position:absolute;
  left:95px;
  top:0px;
  width:766px;
  height:200px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u2002 {
  position:absolute;
  left:95px;
  top:200px;
  width:55px;
  height:1171px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u2004 {
  position:absolute;
  left:809px;
  top:200px;
  width:52px;
  height:1171px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u2006 {
  position:absolute;
  left:95px;
  top:1371px;
  width:766px;
  height:189px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2009 {
  position:absolute;
  left:150px;
  top:200px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2010 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u2011 {
  position:absolute;
  left:150px;
  top:200px;
  width:658px;
  height:49px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u2014 {
  position:absolute;
  left:148px;
  top:250px;
  width:661px;
  height:55px;
  font-size:30px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:657px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u2016 {
  position:absolute;
  left:162px;
  top:258px;
  width:38px;
  height:40px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2018 {
  position:absolute;
  left:162px;
  top:315px;
  width:633px;
  height:865px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:424px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:139px;
}
#u2021 {
  position:absolute;
  left:635px;
  top:325px;
  width:139px;
  height:139px;
  font-size:30px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:62px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2023 {
  position:absolute;
  left:198px;
  top:376px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2026 {
  position:absolute;
  left:198px;
  top:487px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2029 {
  position:absolute;
  left:198px;
  top:926px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2031 {
  position:absolute;
  left:375px;
  top:930px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:737px;
  top:930px;
  width:17px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:198px;
  top:770px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2038 {
  position:absolute;
  left:375px;
  top:774px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:737px;
  top:774px;
  width:17px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2042 {
  position:absolute;
  left:375px;
  top:380px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2045 {
  position:absolute;
  left:198px;
  top:848px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2047 {
  position:absolute;
  left:375px;
  top:852px;
  width:137px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:737px;
  top:852px;
  width:17px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051 {
  position:absolute;
  left:289px;
  top:510px;
  width:380px;
  height:217px;
}
#u2051_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:217px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2052 {
  position:absolute;
  left:939px;
  top:777px;
  width:361px;
  height:23px;
  font-size:20px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2054 {
  position:absolute;
  left:939px;
  top:789px;
  width:0px;
  height:0px;
}
#u2054_seg0 {
  position:absolute;
  left:-185px;
  top:-4px;
  width:189px;
  height:8px;
}
#u2054_seg1 {
  position:absolute;
  left:-190px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2055 {
  position:absolute;
  left:-142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2056 {
  position:absolute;
  left:930px;
  top:855px;
  width:361px;
  height:23px;
  font-size:20px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2058 {
  position:absolute;
  left:930px;
  top:933px;
  width:321px;
  height:23px;
  font-size:20px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u2060 {
  position:absolute;
  left:930px;
  top:867px;
  width:0px;
  height:0px;
}
#u2060_seg0 {
  position:absolute;
  left:-176px;
  top:-4px;
  width:180px;
  height:8px;
}
#u2060_seg1 {
  position:absolute;
  left:-181px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2061 {
  position:absolute;
  left:-138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:930px;
  top:945px;
  width:0px;
  height:0px;
}
#u2062_seg0 {
  position:absolute;
  left:-176px;
  top:-4px;
  width:180px;
  height:8px;
}
#u2062_seg1 {
  position:absolute;
  left:-181px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2063 {
  position:absolute;
  left:-138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2064 {
  position:absolute;
  left:980px;
  top:298px;
  width:361px;
  height:23px;
  font-size:20px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2066 {
  position:absolute;
  left:980px;
  top:310px;
  width:0px;
  height:0px;
}
#u2066_seg0 {
  position:absolute;
  left:-560px;
  top:-4px;
  width:560px;
  height:8px;
}
#u2066_seg1 {
  position:absolute;
  left:-560px;
  top:-4px;
  width:8px;
  height:74px;
}
#u2066_seg2 {
  position:absolute;
  left:-566px;
  top:55px;
  width:20px;
  height:20px;
}
#u2067 {
  position:absolute;
  left:-363px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2068 {
  position:absolute;
  left:949px;
  top:607px;
  width:281px;
  height:23px;
  font-size:20px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u2070 {
  position:absolute;
  left:949px;
  top:619px;
  width:0px;
  height:0px;
}
#u2070_seg0 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u2070_seg1 {
  position:absolute;
  left:-63px;
  top:-53px;
  width:8px;
  height:57px;
}
#u2070_seg2 {
  position:absolute;
  left:-279px;
  top:-53px;
  width:224px;
  height:8px;
}
#u2070_seg3 {
  position:absolute;
  left:-284px;
  top:-59px;
  width:20px;
  height:20px;
}
#u2071 {
  position:absolute;
  left:-165px;
  top:-57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2073 {
  position:absolute;
  left:198px;
  top:983px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2075 {
  position:absolute;
  left:336px;
  top:989px;
  width:300px;
  height:25px;
}
#u2075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2077 {
  position:absolute;
  left:198px;
  top:1043px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:375px;
  top:1047px;
  width:52px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2081 {
  position:absolute;
  left:930px;
  top:990px;
  width:321px;
  height:23px;
  font-size:20px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u2083 {
  position:absolute;
  left:930px;
  top:1002px;
  width:0px;
  height:0px;
}
#u2083_seg0 {
  position:absolute;
  left:-284px;
  top:-4px;
  width:284px;
  height:8px;
}
#u2083_seg1 {
  position:absolute;
  left:-284px;
  top:-2px;
  width:8px;
  height:6px;
}
#u2083_seg2 {
  position:absolute;
  left:-290px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2084 {
  position:absolute;
  left:-191px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2085 {
  position:absolute;
  left:930px;
  top:1050px;
  width:301px;
  height:23px;
  font-size:20px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u2087 {
  position:absolute;
  left:930px;
  top:1062px;
  width:0px;
  height:0px;
}
#u2087_seg0 {
  position:absolute;
  left:-503px;
  top:-4px;
  width:507px;
  height:8px;
}
#u2087_seg1 {
  position:absolute;
  left:-508px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2088 {
  position:absolute;
  left:-302px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2089 {
  position:absolute;
  left:980px;
  top:383px;
  width:241px;
  height:23px;
  font-size:20px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2091 {
  position:absolute;
  left:980px;
  top:395px;
  width:0px;
  height:0px;
}
#u2091_seg0 {
  position:absolute;
  left:-206px;
  top:-4px;
  width:210px;
  height:8px;
}
#u2091_seg1 {
  position:absolute;
  left:-211px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2092 {
  position:absolute;
  left:-153px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2093 {
  position:absolute;
  left:949px;
  top:1106px;
  width:301px;
  height:46px;
  font-size:20px;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:55px;
}
#u2097 {
  position:absolute;
  left:162px;
  top:1101px;
  width:633px;
  height:55px;
  font-size:30px;
  text-align:left;
}
#u2098 {
  position:absolute;
  left:2px;
  top:20px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u2100 {
  position:absolute;
  left:710px;
  top:1110px;
  width:66px;
  height:38px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:11px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u2102 {
  position:absolute;
  left:714px;
  top:1114px;
  width:30px;
  height:31px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2104 {
  position:absolute;
  left:198px;
  top:1111px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2106 {
  position:absolute;
  left:949px;
  top:1129px;
  width:0px;
  height:0px;
}
#u2106_seg0 {
  position:absolute;
  left:-173px;
  top:-4px;
  width:177px;
  height:8px;
}
#u2106_seg1 {
  position:absolute;
  left:-178px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2107 {
  position:absolute;
  left:-136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
