.data_container{
    .title{
        width: 88vw;
        height: 60px;
        margin: 20px auto;
        font-size: 40px;
    }
    .item{
        width: 90%;
        margin: 10px auto;
        line-height: 40px;
    }
    .time{
        height: 80px;
        line-height: 80px;
    }
}