.detail_banner{
    height: 100%;
    width: 100%;
}

.detail_footer{
    bottom: 0;
    height: 98px;
}
.detail_footer_item{
    height: 98px;
}

.detail_icon_wrap{
    width: 220px;
}

.detail_icon{
    width: 88px;
    height: 60px;
}

.detail_wrap{
    padding-bottom: 108px;
}
.detail_img{
    width: 100%;
}
