.shopInfo_container{
    .shopInfo_btn{
        width: 90%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color: #fdb100;
        border-radius: 8px;
        margin: 20px auto;
        color: #ffffff;
    }
    .shop_img{
        height: 80px;
        line-height: 80px;
        color: #656565;
        text-indent: 10px;
    }
    .at-input__title {
        width: 200px;
    }
}