body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:1173px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  position:absolute;
  left:151px;
  top:200px;
  width:658px;
  height:1173px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:578px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:200px;
}
#u1906 {
  position:absolute;
  left:95px;
  top:0px;
  width:766px;
  height:200px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:92px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1171px;
}
#u1908 {
  position:absolute;
  left:95px;
  top:200px;
  width:55px;
  height:1171px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:578px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1171px;
}
#u1910 {
  position:absolute;
  left:809px;
  top:200px;
  width:52px;
  height:1171px;
}
#u1911 {
  position:absolute;
  left:2px;
  top:578px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:189px;
}
#u1912 {
  position:absolute;
  left:95px;
  top:1371px;
  width:766px;
  height:189px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:86px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1915 {
  position:absolute;
  left:150px;
  top:200px;
  width:658px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:16px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u1917 {
  position:absolute;
  left:150px;
  top:200px;
  width:658px;
  height:49px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:150px;
  top:1283px;
  width:660px;
  height:90px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:37px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1921 {
  position:absolute;
  left:230px;
  top:320px;
  width:170px;
  height:170px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1923 {
  position:absolute;
  left:471px;
  top:387px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  position:absolute;
  left:162px;
  top:518px;
  width:633px;
  height:182px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:83px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1927 {
  position:absolute;
  left:205px;
  top:530px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1929 {
  position:absolute;
  left:230px;
  top:590px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1931 {
  position:absolute;
  left:230px;
  top:640px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1933 {
  position:absolute;
  left:162px;
  top:720px;
  width:633px;
  height:490px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:237px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:2px;
}
#u1936 {
  position:absolute;
  left:162px;
  top:812px;
  width:633px;
  height:1px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:205px;
  top:747px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u1940 {
  position:absolute;
  left:314px;
  top:595px;
  width:26px;
  height:20px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:2px;
}
#u1943 {
  position:absolute;
  left:162px;
  top:910px;
  width:633px;
  height:1px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1945 {
  position:absolute;
  left:205px;
  top:845px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1949 {
  position:absolute;
  left:205px;
  top:943px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:2px;
}
#u1952 {
  position:absolute;
  left:162px;
  top:1008px;
  width:633px;
  height:1px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1954 {
  position:absolute;
  left:990px;
  top:588px;
  width:441px;
  height:23px;
  font-size:20px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u1956 {
  position:absolute;
  left:990px;
  top:600px;
  width:0px;
  height:0px;
}
#u1956_seg0 {
  position:absolute;
  left:-620px;
  top:-4px;
  width:624px;
  height:8px;
}
#u1956_seg1 {
  position:absolute;
  left:-625px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1957 {
  position:absolute;
  left:-360px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1958 {
  position:absolute;
  left:960px;
  top:754px;
  width:261px;
  height:23px;
  font-size:20px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1960 {
  position:absolute;
  left:950px;
  top:950px;
  width:201px;
  height:23px;
  font-size:20px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u1962 {
  position:absolute;
  left:950px;
  top:962px;
  width:0px;
  height:0px;
}
#u1962_seg0 {
  position:absolute;
  left:-616px;
  top:-4px;
  width:620px;
  height:8px;
}
#u1962_seg1 {
  position:absolute;
  left:-621px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1963 {
  position:absolute;
  left:-358px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964 {
  position:absolute;
  left:960px;
  top:766px;
  width:0px;
  height:0px;
}
#u1964_seg0 {
  position:absolute;
  left:-626px;
  top:-4px;
  width:630px;
  height:8px;
}
#u1964_seg1 {
  position:absolute;
  left:-631px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1965 {
  position:absolute;
  left:-363px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:81px;
}
#u1967 {
  position:absolute;
  left:150px;
  top:1288px;
  width:660px;
  height:81px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:32px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u1970 {
  position:absolute;
  left:334px;
  top:1309px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u1972 {
  position:absolute;
  left:654px;
  top:1309px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u1974 {
  position:absolute;
  left:494px;
  top:1309px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:41px;
}
#u1976 {
  position:absolute;
  left:174px;
  top:1309px;
  width:134px;
  height:40px;
  font-size:20px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:2px;
}
#u1979 {
  position:absolute;
  left:162px;
  top:1107px;
  width:633px;
  height:1px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:205px;
  top:1042px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1984 {
  position:absolute;
  left:205px;
  top:1140px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1986 {
  position:absolute;
  left:950px;
  top:1096px;
  width:321px;
  height:23px;
  font-size:20px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u1988 {
  position:absolute;
  left:950px;
  top:1108px;
  width:0px;
  height:0px;
}
#u1988_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1988_seg1 {
  position:absolute;
  left:-44px;
  top:-51px;
  width:8px;
  height:55px;
}
#u1988_seg2 {
  position:absolute;
  left:-616px;
  top:-51px;
  width:580px;
  height:8px;
}
#u1988_seg3 {
  position:absolute;
  left:-621px;
  top:-57px;
  width:20px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:-334px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990 {
  position:absolute;
  left:950px;
  top:1108px;
  width:0px;
  height:0px;
}
#u1990_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1990_seg1 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:59px;
}
#u1990_seg2 {
  position:absolute;
  left:-616px;
  top:47px;
  width:580px;
  height:8px;
}
#u1990_seg3 {
  position:absolute;
  left:-621px;
  top:41px;
  width:20px;
  height:20px;
}
#u1991 {
  position:absolute;
  left:-332px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1992 {
  position:absolute;
  left:990px;
  top:467px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1994 {
  position:absolute;
  left:990px;
  top:479px;
  width:0px;
  height:0px;
}
#u1994_seg0 {
  position:absolute;
  left:-584px;
  top:-4px;
  width:584px;
  height:8px;
}
#u1994_seg1 {
  position:absolute;
  left:-584px;
  top:-78px;
  width:8px;
  height:82px;
}
#u1994_seg2 {
  position:absolute;
  left:-590px;
  top:-78px;
  width:14px;
  height:8px;
}
#u1994_seg3 {
  position:absolute;
  left:-595px;
  top:-84px;
  width:20px;
  height:20px;
}
#u1995 {
  position:absolute;
  left:-382px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
